@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media print {
  .navbar {
    display: none !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  main {
    padding-top: 0 !important; /* Por si main tenía espacio por el navbar */
    margin-top: 0 !important;
  }
  .break-inside-avoid-page {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

image {
  width: auto;
  height: auto;
}


